@use "../abstracts/mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  @include m.flex(center, normal, column);
  min-height: 100vh;
  h1,
  form {
    @include m.flex(normal, normal, row);
    margin: 10vh 0;
    input,
    button {
      padding: 0.7rem;
      &:focus {
        // Ensures focus styles aren’t hidden by adjacent elements
        z-index: 2;
      }
    }
    input[type="number"] {
      width: 5rem;
    }
    button {
      @include m.flex(normal, center, column);
      flex: 1;
      padding: 0 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}
